main > .container {
    min-height: 100vh;
    padding-bottom: 30px;
}

.form-leistung {
    width: calc(100% + 25px);
    left: 0;
    right: -25px;
    padding-right: 25px;
}

#form-leistung .btn-minus {
    display: none !important
}

.btn-plus,
.btn-minus {
    width: 22px;
    height: 22px;
    border: 1px solid #cfd4da;
    border-radius: 3px;
    padding: 0px 0 0 2px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    line-height: 20px;
}

.btn-minus {
    right: 0;
    top: calc(50% - 11px);
    padding: 0;
    background: white;
}

@media (min-width: 1280px) {
    .btn-minus {
        display: none;
    }

    .form-leistung:hover .btn-minus {
        display: block;
    }
    footer.onlyprint{
        display: none;
    }
}

hr {
    width:100%; border: 1px solid black;
}

#form-iban {
    display: none;
}

#html {
    font-size: 18px;
}

#html span {
    font-size: 16px;
    font-weight: bold;
}

#html > div {
    margin-bottom: 1.5rem;
}

#html .leistungen {
    margin-bottom: 3rem;
}

#html .leistungen span {
    display: block;
    margin-top: 1.5rem;
}

#html #betrag div,
#html #gesamt {
    text-align: right;
}

.row.separator {
    margin-top: 30px;
}

.row.btm {
    margin-top: 80px;
    margin-bottom: 60px;
}

@media print {
    .no-print{
        display: none;
    }

    header {
        padding-bottom:  0 !important;
        margin-bottom:  0 !important;
    }

    header a {
        margin-left:  0 !important;
        margin-right:  auto !important;
    }

    header img {
        width: 200px;
        height: auto;
    }

    #html {
        font-size: 15px !important;
    }

    h1 {
        font-size: 20px !important;
    }

    .mt-5,
    .mb-5  {
        margin-top:  30px !important;
    }

    hr {
        display: block;
    }
    footer.onlyprint {
        position: fixed;
        bottom: 0;
        font-size: 10px;
        display: table;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        }
    }
}